
@{
    ViewData["Title"] = "MessageSendError";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card box-shadow login-card mx-auto mt-md-5">
    <div class="card-body">
        Error occured while sending message. Please try again.
        <hr />
        <a asp-action="Index" class="btn custom-primary-btn">View messages</a>
    </div>
</div>