@model VideoConference.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="login-register-logo-div mx-auto">
        <img src="~/Images/logo.jpg" />
    </div>
    <div class="card mx-auto register-card">
        <div class="card-body">
            <form method="post">
                <h4 class="register-header">REGISTER</h4>
                <h6 class="register-header">Dept: @Model.DeptName</h6>
                <hr />
                <input type="hidden" asp-for="DeptId" />
                <input type="hidden" asp-for="DeptName" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group mb-1">
                        <input asp-for="Password" class="form-control" placeholder="Password" id="passwordInput" />
                        <div class="input-group-append">
                            <div class="input-group-text showpassword" onclick="ShowPassword()">
                                <span id="password-lock-icon" class="fas fa-eye"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="input-group mb-1">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" id="ConfirmPasswordInput" />
                        <div class="input-group-append">
                            <div class="input-group-text showconfirmpassword" onclick="ShowConfirmPassword()">
                                <span id="confirm-password-lock-icon" class="fas fa-eye"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block register-btn">Register</button>
                </div>
                @*<div class="mb-2">
            <div class="other-socials-intro">
                Or register with social media accounts
            </div>
            <div class="w-100">
                <a href="#" class="fb btn w-100 mb-1">
                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
                <a href="#" class="google btn w-100 mb-1">
                    <i class="fab fa-google fa-fw"></i> Register with Google+
                </a>
            </div>
            <div class="mt-3" style="text-align:center">
                Already a user? <a id="forgot-password" asp-page="./Login">Login</a>
            </div>
        </div>*@
            </form>
        </div>

    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
