@using Microsoft.AspNetCore.Identity
@using VideoConference.Web.Core

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<VideoConference.Web.Models.UserViewModel>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="container mt-3">
    <div class="section_header">
        <div class="section_header_text">
            <h3>Users</h3>
        </div>
        <div>
            <a class="btn btn custom-primary-btn" asp-area="" asp-controller="Users" asp-action="registeruser">Add new user</a>
            @*@if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Admin"))
                {
                    <a class="btn btn custom-secondary-btn" asp-area="" asp-controller="Users" asp-action="registerdeptadmin">Add dept admin</a>
                }
            }*@
        </div>
    </div>
    <div class="card" style="box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);">
        <div class="card-body px-1 py-0  table-responsive">
            <table class="table w-100">
                <thead>
                    <tr class="w-100">
                        <th>Email</th>
                        <th>Username</th>
                        <th>Dept</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @{
                            foreach (var user in Model)
                            {
                            <tr>
                                <td>@user.Email</td>
                                <td>@user.Username</td>
                                <td>
                                    @user.Dept
                                @if (user.IsDeptAdmin)
                                {
                                    <span>(Dept. admin)</span>
                                }
                            </td>
                            <td>
                                @if (!user.IsAdmin)
                                {
                                    <a class="btn btn-sm custom-secondary-btn float-right" onclick="ShowDeleteUser('@user.Id')">delete</a>
                                }
                            </td>
                        </tr>
                    }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
