@model VideoConference.Web.Models.MemoViewModel
@{
    ViewData["Title"] = "Newmemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="login-register-logo-div mx-auto my-1">
        <img src="~/Images/logo.jpg" />
    </div>
    <div class="card w-100 mx-auto box-shadow">
        <div class="card-body">
            <form action="/Memo/Newmemo" method="post">
                <h4 class="login-header">SCHEDULE MEETING</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Departments" class="control-label"></label>
                    <select name="selectedDeptId" class="form-control" asp-items="Model.Departments"></select>
                </div>*@
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Memo" class="btn custom-primary-btn btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}