@model IEnumerable<VideoConference.Web.Models.ViewDocumentViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container mt-3">
    <div class="section_header">
        <div class="section_header_text">
            <h3>Files</h3>
        </div>
        <div>
            <a class="btn btn-sm custom-primary-btn" asp-area="" asp-controller="Document" asp-action="RegisterDocument">Register new file/doc/letter/proposal</a>
        </div>
    </div>
    <div class="card" style="box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);">
        <div class="card-body px-1 py-0  table-responsive">
            <table class="table w-100">
                <thead>
                    <tr class="w-100">
                        <th>Doc no</th>
                        <th>Title</th>
                        <th>Current office</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model)
                    {
                        <tr>
                            <td>@doc.DocumentNumber</td>
                            <td>@doc.Title</td>
                            <td>@doc.CurrentOffice</td>
                            <td>
                                <a class="btn btn-sm custom-primary-btn float-right" asp-controller="Document" asp-action="ViewDocument" asp-route-id="@doc.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

