@model VideoConference.Web.Models.AddDocumentMinuteViewModel
@{
    ViewData["Title"] = "Minute";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="card minute-doc-card mx-auto">
        <div class="card-body">
            <div>Title: @Model.DocTitle</div>
            <div>Doc number: @Model.DocNumber</div>
            <hr />
            <form asp-action="Minute">
                <input type="hidden" asp-for="DocId" />
                <input type="hidden" asp-for="DocTitle" />
                <input type="hidden" asp-for="DocNumber" />
                <input type="hidden" asp-for="FromDept" />
                <input type="hidden" asp-for="FromDeptId" />
                <input type="hidden" asp-for="ToDept" />
                <input type="hidden" asp-for="ToDeptId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">From</label>
                        <input asp-for="FromDept" type="text" readonly class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>To</label>
                        <input type="text" asp-for="ToDept" class="form-control" readonly />
                        @*<select asp-items="Model.Departments" name="SubmittedDeptId" class="form-control"></select>*@
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="SubmittedBy" class="control-label"></label>
                        <input asp-for="SubmittedBy" class="form-control" />
                        <span asp-validation-for="SubmittedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ReceivedBy" class="control-label"></label>
                        <input asp-for="ReceivedBy" class="form-control" />
                        <span asp-validation-for="ReceivedBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-md-6">
                        <label asp-for="AddressedTo" class="control-label"></label>
                        <input asp-for="AddressedTo" class="form-control" />
                        <span asp-validation-for="AddressedTo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Remarks" class="control-label"></label>
                        <input asp-for="Remarks" class="form-control" />
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn custom-primary-btn btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .minute-doc-card {
        width: 80%;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        margin-top: 20px;
        margin-bottom: 70px;
    }

    /*smart phones*/
    @@media screen and (max-width: 420px) and (min-width: 0px) {
        .minute-doc-card {
            min-width: 300px;
            max-width: 400px;
        }
    }
</style>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

