
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<hr />
<div style="height:70vh">
    <div id="messagesList"></div>
</div>
<hr />
<div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="basic-addon2" id="message">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="sendButton">send</button>
        </div>
    </div>
</div>