
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
}

    .tab-item.active{
        background-color:#e6630e !important;
        color:white !important;
    }

    .tab-item{
        background-color:#0a1829 !important;
        color:white !important;
        border-radius:0;
    }

    .custom-primary-btn{
        background-color:#e6630e;
        color:white !important;
        border-radius:0;
        cursor:pointer;
    }

    .custom-primary-btn:hover{
          background-color: #ff6b0a;
        transform: scale(1.01);
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }

</style>

<div class="background">

</div>

<div  class="container mt-3">
    <nav class="mb-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active tab-item" id="nav-home-tab" data-toggle="tab" href="#nav-home"
               role="tab" aria-controls="nav-home" aria-selected="true" style="border-radius:0">
                Upcoming meetings
            </a>
            <a class="nav-item nav-link tab-item" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" 
               role="tab" aria-controls="nav-profile" aria-selected="false" style="border-radius:0">
                Previous meetings
            </a>
            <a class="nav-item nav-link tab-item" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
               role="tab" aria-controls="nav-contact" aria-selected="false" style="border-radius:0">
                Cloud recording
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card" style="
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);">
                <div class="card-body px-1 py-0  table-responsive">
                    <table class="table w-100">
                        <thead>
                            <tr class="w-100">
                                <th>Start time</th>
                                <th style="width:50%">Topic</th>
                                <th>Meeting Id</th>
                                <th style="min-width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 23/Jul/2020</td>
                                <td>State Desk Officers Meeting</td>
                                <td>235-234-223</td>
                                <td>
                                    <a class="btn btn-sm custom-primary-btn float-right">Join</a>
                                </td>
                            </tr>
                            <tr>
                                <td>25/Jul/2020</td>
                                <td>General Meeting</td>
                                <td>342-344-278</td>
                                <td>
                                    <a class="btn btn-sm custom-primary-btn float-right">Join</a>
                                </td>
                            </tr>
                            <tr>
                                <td>25/Jul/2020</td>
                                <td>Directors Meeting</td>
                                <td>390-445-392</td>
                                <td>
                                    <a class="btn btn-sm custom-primary-btn float-right">Join</a>
                                </td>
                            </tr>
                            <tr>
                                <td>25/Jul/2020</td>
                                <td>Staff Meeting</td>
                                <td>112-232-805</td>
                                <td>
                                    <a class="btn btn-sm custom-primary-btn float-right">Join</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">How is it</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Fine here</div>
    </div>
</div>

