<div class="p-2">
    <p class="m-0">
        Are you sure you want to end this meeting?
    </p>
    <hr />
    <div>
        <button class="btn custom-primary-btn btn-sm" onclick="EndMeeting()">End</button>
        <button class="btn custom-secondary-btn btn-sm float-right" onclick="cloesAlert()">Cancel</button>
    </div>
</div>